<header class="w-full h-16 shadow-xl bg-red-strong text-white">
    <nav class="w-full h-full">
        <ol class="w-full h-full flex flex-row gap-4 justify-center items-center">
            <li class="p-3 shadow-2xl bg-white bg-opacity-50 backdrop-blur-lg backdrop-filter bg-blur rounded-lg text-dec cursor-pointer hover:scale-90 hover:shadow-inner transition">
                <a href="/">Menu</a>
            </li>
            <li class="p-3 shadow-2xl bg-white bg-opacity-50 backdrop-blur-lg backdrop-filter bg-blur rounded-lg text-dec cursor-pointer hover:scale-90 hover:shadow-inner transition">
                <a href="proyects">Proyectos</a>
            </li>
            <li class="p-3 shadow-2xl bg-white bg-opacity-50 backdrop-blur-lg backdrop-filter bg-blur rounded-lg text-dec cursor-pointer hover:scale-90 hover:shadow-inner transition">
                <a href="proyects/calculator">Calculadora</a>
            </li>
        </ol>
    </nav>
</header>
